{% extends "website/base.html" %}
{% block style %}
    <style>
        #logo {
            margin-bottom : 10%;
        }

        #search {
            margin-top : 20px
        }

        .mon-avatar {
            padding          : 20px;
            background-color : lightgrey;
        }
    </style>
{% endblock %}
{% block content %}
    {% load static %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <figure id="logo">
                        <img src="{% static 'website/images/logo.png' %}" alt="Pokédex"/>
                        <form action="{% url 'website:dex' %}" method="get" id="search">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-rounded" type="text" placeholder="Search the dex" name="q">
                                </div>
                            </div>
                        </form>
                    </figure>
                </div>
            </div>
        </div>
        <div class="container">
            {% if not mon_list %}
                <div class="columns is-centered">
                    <div class="column is-half">
                        <center><p><strong>No results</strong></p></center>
                    </div>
                </div>
            {% else %}
                <div class="tile is-ancestor">
                    <div class="tile is-vertical">
                        <div class="tile">
                            {% for mon in mon_list %}
                                <div class="tile is-parent is-3">
                                    <div class="tile is-child">
                                        <a href="{% url 'website:profile' mon.number %}">
                                            <div class="card">
                                                <div class="card-image mon-avatar">
                                                    <figure class="image is-square">
                                                        <img src="{% with 'website/images/mons/'|add:mon.image as image_static %}{% static image_static %}{% endwith %}" alt="{{ mon.name }}">
                                                    </figure>
                                                </div>
                                                <div class="card-content">
                                                    <div class="media">
                                                        <div class="media-content">
                                                            {% if mon.number == 83 %}
                                                                <p class="title is-4">#{{ mon.number }} Farfetch'd</p>
                                                            {% else %}
                                                                <p class="title is-4">
                                                                    #{{ mon.number }} {{ mon.name.title }}</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="tile is-ancestor">
                                                        {% for type in mon.types %}
                                                            <div class="tile is-parent">
                                                                {% if type %}
                                                                    <article class="tile is-child tag {{ type.name }}-type type">{{ type.name.title }}</article>
                                                                {% else %}
                                                                    <article class="tile is-child"></article>
                                                                {% endif %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- if last column in row -->
                                {% if forloop.counter|divisibleby:"4" and not forloop.last %}
                                    </div>
                                    <div class="tile">
                                {% endif %}
                            {% endfor %}
                            </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
