{% extends "website/base.html" %}
{% block style %}
    <style>
        #logo {
            margin-bottom : 10%;
        }
    
        .mon-avatar {
            padding: 20px;
            background-color: lightgrey;
        }
    </style>
{% endblock %}
{% block content %}
    {% load static %}
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <figure id="logo">
                        <img src="{% static 'website/images/logo.png' %}" alt="Pokédex"/>
                    </figure>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tile is-ancestor">
                <div class="tile is-vertical">
                    <div class="tile">
                        {% for mon in mon_list %}
                            <div class="tile is-parent is-3">
                                <div class="tile is-child">
                                    <a href="{% url 'website:profile' mon.number %}">
                                        <div class="card">
                                            <div class="card-image mon-avatar">
                                                <figure class="image is-square">
                                                    <img src="
                                                            
                                                            {% with 'website/images/mons/'|add:mon.image as image_static %}{% static image_static %}{% endwith %}"
                                                         alt="Avatar">
                                                </figure>
                                            </div>
                                            <div class="card-content">
                                                <div class="media">
                                                    <div class="media-content">
                                                        <p class="title is-4">{{ mon.name.title }}</p>
                                                    </div>
                                                </div>
                                                <div class="content">
                                                    {{ mon.genus }}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- if last column in row -->
                            {% if forloop.counter|divisibleby:"4" and not forloop.last %}
                                </div>
                                <div class="tile">
                            {% endif %}
                        {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
