{% extends "website/base.html" %}
{% block style %}
<style>#logo{margin-top: 50px;}</style>
{% endblock %}
{% block content %}
{% load static %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <figure id="logo">
                    <img src="{% static 'website/images/logo.png' %}" alt="Pokédex"/>
                </figure>
            </div>
        </div>
        <div class="columns is-centered search">
            <div class="column is-half">
                <form action="{% url 'website:profile' 38 %}" method="get">
                    <div class="field">
                        <div class="control">
                            <input class="input is-rounded" type="text" placeholder="Pokémon name" name="q">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
